body {
    
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.topnav {
  
  width: 100%;
  height: 60px;
  overflow: hidden;
  background-color: #4d5557;
  display: block;
  position: fixed;
 
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Patrick Hand', cursive;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
#title{
    display: block;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    font-weight: bold; 
    font-family: 'Monoton', cursive;
}
#title h1{
    font-size: 30px;
    text-align: center;
    color: white;
}
x-sign {
  --interval: 1s;
  display: block;
  text-shadow: 
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
  color: yellow;
  --color1: yellow;
  --color2: lime;
  --color3: green;
  --color4: darkgreen;
    font-family: 'Special Elite', cursive;
    font-size: 80px;
    text-align: center;
    margin-top: 80px;
}
@keyframes flicker {
  50% {
    color: white;
    filter: saturate(200%) hue-rotate(20deg);
  }
}
#main-img{
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 180px;
    background-color: rgb(39, 163, 217); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); 
    font-family: 'Patrick Hand', cursive;
    padding: 20px;
    text-align: center;
    color: navajowhite;
}

#pg1 {
    display: inline-block;
    margin-top: 60px;
    height: 2000px;
    width: 100%;
    background-image: url(https://images.alphacoders.com/277/27721.jpg);
}
#pg1 p{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Patua One', cursive;
    margin-top: 80px;
}
#pg2 {
    display: inline-block;
    height: 1200px;
    width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/18/15/44/audience-1835431_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    
}
#pg3 {
    display: inline-block;
    height: 900px;
    width: 100%;
    
    background-image: url(https://cdn.pixabay.com/photo/2015/04/13/13/37/dj-720589_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;
  
}
#info{
    display: block;
    background-color: antiquewhite;
    background-color: rgb(239, 190, 247); /* Fallback color */
    background-color: rgba(239, 190, 247, 0.4); /* Black w/opacity/see-through */
    font-weight: bold; 
    color: black;
    margin-left: 200px;
    padding: 90px;
}

#form{
    display: block;
    background-color: rgb(144, 81, 245); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold; 
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 200px;
    padding: 30px;
    font-size: 20px;
    
    font-family: 'Source Sans Pro', sans-serif;
    
}
#form h1{
    font-size: 30px;
    text-align: center;
    color: #fc179d;
    font-family: 'Chewy', cursive;
}
#form input{
    font-size: 20px;
}
#radio{
    margin-left: 60px;
    
    
}
#submit{
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #2cb9e8;
    margin-left: 300px;
    margin-top: 60px;
    border-radius: 8px;
   /* cursor: pointer;*/
    font-family: 'Chewy', cursive;
    
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-top: 100px;
  background-color: #757b80;
  border: 1px solid #ddd;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
footer{
    background-color: burlywood;
    color: black;
    font-size: 15px;
    text-align: center;
    display: block;
    padding: 80px;
    margin: 0;
}
